# Windows Explorer
*.lnk
desktop.ini

# Counter-Strike 2
*_bakeresourcecache*

# RadGen
materials/radgen/
[Rr]ad[Gg]en/
*.radgen.bak
![Mm]aterials/[Rr]ad[Gg]en/

# User-specific files
*.blend*
!*.blend